@model WebPostgreSQL.Models.Competidores

@{
    ViewData["Title"] = "Delete";
}

<h1>Deseja deletar os dados desse competidor?</h1>

<div>
    <h4>Os dados deletados não podem ser recuperados.</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sexo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sexo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TemperaturaMediaCorpo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TemperaturaMediaCorpo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Peso)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Peso)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Altura)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Altura)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Deletar" class="btn btn-danger text-right" /> 
        <a asp-action="Index" class="btn btn-outline-warning text-left">Cancelar</a>
    </form>
</div>
