@model WebPostgreSQL.Models.Competidores

@{
    ViewData["Title"] = "Details";
}

<h1>Informações do competidor</h1>

<div>
    <h4></h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sexo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sexo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TemperaturaMediaCorpo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TemperaturaMediaCorpo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Peso)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Peso)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Altura)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Altura)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit"class="btn  btn-outline-success" asp-route-id="@Model?.Id">Editar</a> 
    <a asp-action="Index" class="btn btn-outline-danger">Cancelar</a>
</div>
